.content-container{
    position: relative; /* Positions the text relative to the container */
    left: 40%; /* Center horizontally */
    width: 50%; /* Sets the width of the text container */
    color: white; /* Ensures text is visible */
    background-color: #8391A1d2; /* Optional: Adds a background for readability */
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.content-container h1 {
    font-size: 3rem; /* Adjusts the size of the heading */
    margin-bottom: 20px; /* Adds space below the heading */
}